/* .App {
  text-align:center;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  backface-visibility: hidden; 
  animation-name: moveTrain;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  border: 1px solid red;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
} */

/*.App-header {
  background-color: #282c34; 
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
  border:10px black solid;
}*/


/*@keyframes moveTrain {
  0% {
    transform: translate (-185px, -159px);
  }
  100% {
    transform: translate (300px, 250px);
  }
} */

#root{
  background-color:rgb(213, 236, 240)
}

body{
  width:100%;
  height:100vh;
  margin:auto;
  box-sizing:border-box;
  overflow:hidden;
}

marquee{
  height:100vh;
}

/* .app-item {
	position: relative;
  width:vw;
}

.app-logo {
	position: absolute;
	top: 0;
	left: 0;
  height:40vmin;
}

@keyframes moveTrain {
	0% {
		top: 0;
    left: 0;
	}
  33%{
    top: 33vh;
    right:0;
  }
  66%{
    top: 66vh;
    left:0;
  }
  	100% {
  		bottom: 0;
      right:0;
  	}
}

.app-item {
	animation-duration: 5s;
	animation-fill-mode: forwards;
	backface-visibility: hidden;
	animation-name: moveTrain;
	position: absolute; 
} */


.mainGame{
  display:grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100vh;
  column-gap:0.3vw;
  margin:auto;
}

/* .mainGame > div{
  border:black 2px solid;
} */


.sarahClicker{
  text-align:center;
  box-sizing:border-box;
}

.userTitle{
  margin-top:3vh;
}

.sarahCounter{
  margin-top:5vh;
}

.smilesCounter{
  padding:0;
  margin-bottom:0;
}

.perSecond{
  padding:0;
  margin-top:0;
}

.sarahFace{
  width:22vw;
  justify-content:center;
  align-items:auto;
  margin:4vh auto;
  cursor:pointer;
}

  .sarahFace:active{
    transform:scale(0.95);
  }

  .sarahFace:hover{
    animation-duration:0.5s;
    animation-name:sarahFaceHover;

  }

  @keyframes sarahFaceHover {
    20% {
      transform:scale(1.05)
    }
    33%{
      transform:scale(1)
    }
    55%{
      transform:scale(1.02)
    }
    100% {
        transform:scale(1)
      }
  }

  .automatedClicks{
    overflow-y:visible;
  }

  .automatedNone{

  }

  .automatedClickItem{
    padding:0.3vh;
    display:flex;
    cursor:pointer;
    margin-bottom:1vh;
    border-radius:2vw;
    box-sizing:border-box;
    overflow-x:auto;
    overflow-y:hidden;
    height:5vh;
  }

  .automatedPicture{
    width:3vh;
    height:3vh;
    padding:0 .1vw;
    object-fit:cover;
    object-position:center;
    rotate:-7deg;
  }

  .upgradeStore{
    
  }

  .upgradeItems{
    display:flex;
    flex-wrap:wrap;
    row-gap:3px;
    column-gap:3px;
  }

  .upgradePicture{
    width:4.95vh;
    padding:.5vh;
    border-radius:1vh;
    margin:.25vh;
    cursor:pointer;
  }

  .upgradeTwo{
    position:relative;
    cursor:pointer;
    border:3px solid rgb(30, 145, 30);
    background-color:rgb(80, 80, 80);
  } 
    .upgradeTwo:hover{
      transform:scale(1.05)
    }

  .upgradeOne{
    position:relative;
    cursor:pointer;
    border:3px solid rgb(28, 29, 28);
    background-color:rgb(80, 80, 80)
  } 
  .upgradeZero{
    display:none
  } 

  .upgradeBlurb{
    position:absolute;
    right:34%;
    width:350px;
    top:12vh;
    height:auto;
    padding:0;
    background-color:rgb(172, 158, 158);
    border-radius:2vw;
  }

  .upgradeFirstRow{
    display:flex;
    row-gap:0;
  }

  .upgradeBlurbPicture{
    width:6vh;
    height:6vh;
    object-fit:contain;
    padding:.5vh;
    border-radius:1vh;
    margin:.25vh;
    cursor:pointer;
  }

  .upgradeName{
    margin-bottom:3vh;
  }

  .noBlurb{
   display:none;
  }

  h6{
    font-size:0.8rem;
    height:4vh;
  }

  h6:last-of-type{
    margin-left:auto;
    padding-right:0.5vh;
  }

  .upgradeDescription{
    position:relative;
    margin-top:-3vh;
    padding-left:1vh;
  }

  .storeTitle{
    text-align:center;
  }

  .store{
    overflow-y:scroll;
    overflow:unset;
    /*Might need to change this*/
  }

  .storeItem{
    position:relative;
    padding:0.3vh;
    height:8vh;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    column-gap:1vh;
    cursor:pointer;
    border:1px solid  rgb(238, 238, 197);
    margin-bottom:1vh;
    border-radius:2vw;
    background-image:linear-gradient(to bottom right, rgb(238, 238, 197) 25%,rgb(56, 151, 56));
  } 

  .storeItemNoBuy{
    position:relative;
    padding:0.3vh;
    height:8vh;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    column-gap:1vh;
    cursor:pointer;
    border:1px solid rgb(192, 196, 192);
    margin-bottom:1vh;
    border-radius:2vw;
    background-color:rgb(192, 196, 192);
  }

  .mysteryItem{
    position:relative;
    padding:0.3vh;
    height:8vh;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    column-gap:1vh;
    cursor:pointer;
    border:1px solid  rgb(238, 238, 197);
    margin-bottom:1vh;
    border-radius:2vw;
    background-image:linear-gradient(to right, rgb(4, 4, 4) 23%, rgb(63, 107, 63)25%,rgba(129, 216, 129, 0.958));
  } 

    .storeItem:hover{
      background-image:none;
      background-color: rgb(243, 235, 190);
    }

  .storeItem img{
    object-fit:contain;
    padding-right:1.5vw;
    padding-left:0.1vw;
  }

  .storeItemNoBuy img{
    object-fit:contain;
    padding-right:1.5vw;
    padding-left:0.1vw;
  }

  .mysteryItem img{
    object-fit:contain;
    padding-right:1.5vw;
    padding-left:0.1vw;
    border-radius:3vw;
  }

  .storeRight{
    object-fit:contain;
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 30%;
  }

  .storePrice{
    margin:auto 0;
    padding-left:1vw;
    font-size:calc(1vw + 5px);
    text-align:left;
    vertical-align:top;
  }

  .storePicture{
    
    height:100%;
    width:100%;
    margin-right:1vw;
  }

  .mysteryPicture{
    
    height:100%;
    width:100%;
    margin-right:1vw;
    filter:brightness(1%);
  }

  .storeWord{
    margin:auto 0;
    padding-left:1vw;
    font-size:2vw;
    text-align:left;
    vertical-align:top;
  
  }

  .storeAmount{
    position:absolute;
    right:1vw;
    align-items:center;
    color:rgb(30, 81, 30);

  }

  .storeBlurb{
    position:absolute;
    bottom:0;
    left:-360px;
    width:350px;
    height:auto;
    padding:0;
    background-color:rgb(172, 158, 158);
    border-radius:2vw;
    
  }

  .noStoreBlurb{
    display:none
  }

  .bold{
    font-weight:bold;
  }
